<%- include header %> 
<style>
	.chg
	{
		padding-top: 120px;
	}
	
</style>

<div class="container chg">
	<form action="/set_password" method="POST">
	<!-- <form action="/set_password/<%= data[0].email %>" method="POST"> -->


		<div class="form-group">
			<label>User: </label>
			<input type="text" name="user" class="form-control" placeholder="Current password..." value="<%= data[0].email%>" readonly>
		</div>

		<div class="form-group">
			<label>Current Password: </label>
			<input type="password" name="current_password" class="form-control" placeholder="Current password...">
		</div>

		<div class="form-group">
			<label>New Password: </label>
			<input type="password" name="new_password" class="form-control" placeholder="New password...">
		</div>

		<div class="form-group">
			<label>Re-Enter New Password: </label>
			<input type="password" name="re_password" class="form-control" placeholder="Re-Enter password...">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>

	</form>
</div>

</body>
</html>