


<div class="modal fade" id="modalContactForm" role="dialog">
				<div class="modal-dialog" role="document">
					<!-- Modal Content -->
					<div class="modal-content">
						<div class="modal-header text-center contact_modal_header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close_icon">
								<span aria-hidden="true">&times;</span>
							</button>
							<h1 class="modal-title" id="modal_title">GET IN TOUCH</h1>
						</div>

						<div class="modal-body">
							<form class="contact-form "  method="POST">
								<div class="form-field large" id="contact_col">
									 <i class="fas fa-user" id="contact_icons"></i>
									 <input type="text" class="contact_input-text" name="" required="required">
									 <label class="contact_label">Name</label>
								</div>
								<div class="form-field large" id="contact_col">
									 <i class="fas fa-envelope" id="contact_icons"></i>
							         <input type="email" class="contact_input-text" required>
							         <label class="contact_label">E-mail</label>
							      </div>
							       <div class="form-field large" id="contact_col">
							         <i class="fas fa-pencil-alt" id="contact_icons"></i>
							         <textarea class="contact_input-text" rows="4"></textarea>
							         <label class="contact_label">Message</label>
							      </div>
							<!-- </form> -->
						</div>

						<div class="modal-footer">
							<form class="contact-form " id="contact_row">
								 <div class="form-field col x-100 text-center">
							         <button class="btn submit-button" type="submit">Send <i class="fas fa-paper-plane"></i></button>
							         <!-- <input type="submit" name=""> -->
							     </div>
							 </form>
						</div>
					</div>
				</div>
			</div>