<!DOCTYPE html>
<html>
<head>
	<title></title>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
	<link rel="stylesheet" href="../../static/css/wedding_service.css">

	<link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
</head>

<body>

<div class="container-fluid col-md-12">
	<img src="../../static/service.jpg" class="img-responsive">
	<div class="text-center service_heading">
		<h2>OUR SERVICES</h2>
	</div>
</div>

<div class="container service_title">
	<h2 class="text-center">Let's Plan Your Perfect Wedding</h2>
	<div class="row">
		<div class="col-md-4">
			<img src="../../static/testimonweial_bg.jpg" class="img-responsive">
			<a href="#"><h4 class="text-center">Banquets & Style</h4></a>
			<div class="text-center order_btndiv"><button class="btn btn-lg btn-default order_button">ORDER NOW</button></div>
		</div>
	 	<div class="col-md-4">
	 		<img src="../../static/testimonweial_bg.jpg" class="img-responsive">
	 		<h4 class="text-center">Catering & decoration</h4>
	 	</div>
	 	<div class="col-md-4">
	 		<img src="../../static/testimonweial_bg.jpg" class="img-responsive">
	 		<h4 class="text-center">Catering & decoration</h4>
	 	</div>
	</div>
</div>

</body>
</html>