<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<table border="2" width="50%" cellpadding="10" cellspacing="10">
		<% for(var i = 0; i < data.length; i++) { %>
		   		<tr>
		   			<td> <%= data[i].category_name %> </td>
		   			<td> <%= data[i].category_img %> </td>
		   			<td> <%= data[i].category_description %> </td>
		   			<td> <%= data[i].category_status %> </td>
		   		</tr>
		<% } %>
	</table>
</body>
</html>